/*-----------------------------------*\

sm for small screens (640px and up)
md for medium screens (768px and up)
lg for large screens (1024px and up)
xl for extra-large screens (1280px and up)
2xl for extra-extra-large screens (1536px and up)

\*-----------------------------------*/

.page-container {
  @apply m-5 flex flex-col gap-4 justify-center;
  @apply sm:mx-[40px] sm:my-[30px];
  @apply md:mx-[80px] md:my-[50px];
  @apply lg:mx-[100px] lg:mx-[80px];
  @apply xl:flex-row xl:gap-7;
  color: var(--white-2);
}

.common-main {
  @apply border border-[var(--jet)] rounded-2xl px-6 py-4 bg-[var(--eerie-black-2)];
}

.sidebar {
  @apply h-[112px] relative overflow-hidden;
  @apply xl:w-[280px] xl:h-full xl:sticky xl:top-[50px];
  transition: var(--transition-2);
  .sidebar-initial-content {
    @apply flex flex-row gap-4;
    @apply xl:flex-col xl:items-center xl:mt-5;
    .avatar {
      @apply max-h-[80px] max-w-[80px] rounded-lg;
      @apply xl:max-h-[120px] xl:max-w-[120px] xl:rounded-2xl;
    }

    .name-content {
      @apply mt-2 xl:flex xl:flex-col xl:items-center;
      @apply xl:mt-3 xl:mb-3;
      .name {
        @apply mb-[10px] text-base font-semibold;
        @apply lg:text-xl xl:text-[22px];
      }

      .role {
        @apply py-[3px] px-[12px] rounded-[8px] bg-[var(--onyx)] text-xs w-fit;
        @apply lg:text-sm xl:mt-2;
      }
    }
  }
  .more-info-button {
    @apply w-8 text-center justify-center rounded-tr-[14px] rounded-bl-2xl absolute top-0 right-0;
    @apply xl:hidden;
    color: var(--orange-yellow-crayola);
    box-shadow: var(--shadow-2);
    background: var(--border-gradient-onyx);
    transition: var(--transition-1);
  }

  .more-info-button svg {
    margin-top: 4px;
  }
  .more-info-icon {
    @apply sm:hidden;
  }

  .more-info-text {
    @apply text-sm h-7 hidden flex flex-row sm:block sm:w-40 xl:hidden;
    button {
      @apply mt-1;
    }
  }

  .sidebar-more-info {
    .separator {
      @apply bg-[var(--jet)] h-[0.1px] w-[100%] mt-5 mb-5;
    }
    .contact-info {
      @apply flex flex-col;
      .contact {
        @apply flex gap-3 my-3;
        .icon-overflow {
          @apply flex items-center;
          .icon {
            position: relative;
            width: 30px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 16px;
            color: var(--orange-yellow-crayola);
            box-shadow: var(--shadow-1);
            z-index: 1;
            background: var(--border-gradient-onyx);
            border-radius: 8px;
          }
        }
        .details {
          @apply xl:max-w-[190px];
        }
        .details h1:nth-child(1) {
          @apply text-xs lg:text-sm;
          color: var(--light-gray-70);
        }

        .details h1:nth-child(2) {
          @apply text-xs lg:text-sm truncate;
          color: var(--white-2);
        }
      }
    }
    .socials-container {
      @apply flex flex-row gap-3 justify-center;
      @apply xl:mt-5;
    }
  }

  .send-email,
  .download-resume {
    @apply hidden mt-4 xl:block h-[30px] text-center;
  }
}

.sidebar-active {
  @apply h-[450px] lg:h-[480px] xl:h-full;
  transition: var(--transition-2);
}

.main-content {
  @apply flex flex-col gap-3 lg:mt-0 relative;
  @apply xl:w-[900px] xl:h-[100%] xl:pt-[30px];
  color: var(--white-2);
  .section-container {
    @apply p-2;
    .skills {
      h1 {
        @apply text-xl font-semibold;
        @apply sm:text-3xl;
      }

      h2 {
        @apply text-[20px] font-bold;
      }

      p {
        @apply text-sm;
        @apply lg:text-base;
      }
    }

    .about-me {
      h1 {
        @apply mb-5;
      }
      h1::after {
        @apply block w-[50px] h-[3px] bg-[var(--orange-yellow-crayola)] mt-2;
        content: "";
      }
    }

    .can-do {
      @apply flex flex-col;
      .skills-container {
        @apply m-3 flex flex-col gap-4 rounded-2xl p-3 border border-[var(--onyx)];
        box-shadow: var(--shadow-2);
        .icon {
          @apply flex justify-center;
          color: var(--orange-yellow-crayola);
        }
        .description {
          h4 {
            @apply mb-2 text-[16px] font-semibold text-center;
          }
          p {
            @apply text-center;
          }
        }
      }
    }

    .tech-stack {
      .tech-wrapper {
        @apply lg:flex lg:flex-col;
        .tech-container {
          @apply rounded-2xl border border-[var(--onyx)] mt-2 py-3;
        }

        .tech-wrapper-2 {
          @apply lg:flex lg:flex-row lg:gap-3;

          .tech-container {
            @apply lg:w-[50%];
          }
        }
      }
      h2 {
        @apply text-[16px] text-center;
      }
      .tech-list {
        @apply flex flex-row gap-4 py-2 px-4 justify-center;
      }
    }

    .experience {
      @apply text-xl xl:text-3xl font-semibold mb-8;
    }

    .experience::after {
      @apply block w-[50px] h-[3px] bg-[var(--orange-yellow-crayola)] mt-2;
      content: "";
    }

    .experience-container {
      @apply border-l border-[var(--jet)] pl-5 pb-5 ml-3;
      .dot {
        @apply w-4 h-4 rounded-full bg-[var(--orange-yellow-crayola)] float-left -mt-[10px] -ml-[28px];
      }

      .content {
        @apply relative -top-4;
        .job-title {
          @apply font-semibold xl:text-lg;
        }
        .company {
          @apply font-medium;
        }
        .year {
          @apply font-extralight bg-clip-text text-transparent bg-gradient-to-r from-yellow-400 to-yellow-500;
        }
        .context {
          @apply text-sm;
          @apply lg:text-base;
        }
      }
    }
  }
  .section-active {
    @apply block;
    animation: fade 0.5s ease forwards;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.navbar {
  @apply fixed bottom-0 left-0 w-[100%] border border-[var(--jet)] h-[55px] rounded-tr-2xl rounded-tl-2xl z-[5];
  @apply lg:absolute lg:top-0 lg:left-auto lg:right-0 lg:w-fit lg:rounded-bl-2xl lg:rounded-tr-xl lg:rounded-tl-[0px] lg:border-t-0;
  backdrop-filter: blur(10px);
  background: var(--navbar-dark);
  .navbar-list {
    @apply flex gap-7 justify-center m-4;
    li {
      @apply xl:px-5 xl:gap-10 cursor-pointer;
    }
    .section-active {
      @apply text-[var(--orange-yellow-crayola)] font-semibold;
    }
  }
}
