/*-----------------------------------*\

sm for small screens (640px and up)
md for medium screens (768px and up)
lg for large screens (1024px and up)
xl for extra-large screens (1280px and up)
2xl for extra-extra-large screens (1536px and up)

\*-----------------------------------*/

.page-container {
  @apply m-5 md:m-10 lg:m-[50px];
  @apply flex flex-col xl:flex-row gap-4 justify-center;
  color: var(--white-2);
}

.common-main {
  @apply border border-[var(--jet)] rounded-2xl px-6 py-4 bg-[var(--eerie-black-2)];
}

.sidebar {
  @apply h-[112px] relative overflow-hidden;
  @apply xl:min-w-[320px] xl:h-full;
  transition: var(--transition-2);
  .sidebar-initial-content {
    @apply flex flex-row gap-4;
    @apply xl:flex-col xl:items-center xl:mt-5;
    .avatar {
      @apply max-h-[80px] max-w-[80px] rounded-lg;
      @apply xl:max-h-[120px] xl:max-w-[120px] xl:rounded-2xl;
    }

    .name-content {
      @apply mt-2 xl:flex xl:flex-col xl:items-center;

      .name {
        @apply mb-[10px] text-base font-semibold;
        @apply lg:text-xl xl:text-[22px];
      }

      .role {
        @apply py-[3px] px-[12px] rounded-[8px] bg-[var(--onyx)] text-xs w-fit;
        @apply lg:text-sm;
      }
    }
  }
  .more-info-button {
    @apply w-8 text-center justify-center rounded-tr-[14px] rounded-bl-2xl absolute top-0 right-0;
    @apply xl:hidden;
    color: var(--orange-yellow-crayola);
    box-shadow: var(--shadow-2);
    background: var(--border-gradient-onyx);
    transition: var(--transition-1);
  }

  .more-info-button svg {
    margin-top: 4px;
  }

  .sidebar-more-info {
    @apply overflow-hidden;
    .separator {
      @apply bg-[var(--jet)] h-[0.1px] w-[100%] mt-5 mb-5;
    }
    .contact-info {
      .contact {
        @apply flex gap-3 my-3;

        .icon-overflow {
          @apply flex items-center;
          .icon {
            position: relative;
            width: 30px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 16px;
            color: var(--orange-yellow-crayola);
            box-shadow: var(--shadow-1);
            z-index: 1;
            background: var(--border-gradient-onyx);
            border-radius: 8px;
          }
        }

        .details h1:nth-child(1) {
          @apply text-xs lg:text-sm;
          color: var(--light-gray-70);
        }

        .details h1:nth-child(2) {
          @apply text-xs lg:text-sm;
          color: var(--white-2);
        }
      }
    }
    .socials-container {
      @apply flex justify-center;
    }
  }
}

.sidebar-active {
  @apply h-[340px];
  transition: var(--transition-2);
}

.main-content {
  @apply flex flex-col gap-3 lg:mt-0 relative;
  @apply xl:w-[1020px] xl:h-[100%] xl:pt-[55px];
  color: var(--white-2);

  .skills {
    /* @apply border border-white; */
    h1 {
      @apply text-lg font-bold;
      @apply lg:text-xl;
    }

    h2 {
      @apply text-[20px] font-bold;
    }

    p {
      @apply text-sm;
      @apply lg:text-base;
    }
  }

  .about-me {
    @apply mt-3;
  }

  .can-do {
    @apply flex flex-col;
    .skills-container {
      @apply m-3 flex flex-col gap-4 rounded-2xl p-3 border border-[var(--onyx)];
      box-shadow: var(--shadow-2);
      .icon {
        @apply flex justify-center;
        color: var(--orange-yellow-crayola);
      }
      .description {
        h4 {
          @apply mb-2 text-[16px] font-semibold text-center;
        }
        p {
          @apply text-center;
        }
      }
    }
  }

  .tech-stack {
    h2 {
      @apply text-[16px] text-center;
    }
    .tech-list {
      @apply flex flex-row gap-4 py-2 px-4 justify-center;
      .tech-card {
      }
    }
  }
}

.navbar {
  @apply fixed bottom-0 left-0 w-[100%] border border-[var(--jet)] h-[55px] rounded-tr-2xl rounded-tl-2xl z-[5];
  @apply xl:absolute xl:top-0 xl:left-auto xl:right-0 xl:w-fit xl:rounded-bl-2xl xl:rounded-tr-xl xl:rounded-tl-[0px] xl:border-t-0;
  backdrop-filter: blur(10px);
  background: var(--navbar-dark);
  ul {
    @apply flex gap-7 justify-center m-4;
    li {
      @apply xl:px-5 xl:gap-10;
    }
  }
}
